In [24]:
import pandas as pd
import numpy as np

In [25]:
df = pd.read_csv("E:\continued circulam project\Preprocessed_data.csv")

In [26]:
df .info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1031175 entries, 0 to 1031174
Data columns (total 19 columns):
 #   Column               Non-Null Count    Dtype
---  ------               --------------    -----
 0   Unnamed: 0           1031175 non-null  int64
 1   user_id              1031175 non-null  int64
 2   location             1031175 non-null  object
 3   age                  1031175 non-null  float64
 4   isbn                 1031175 non-null  object
 5   rating               1031175 non-null  int64
 6   book_title           1031175 non-null  object
 7   book_author          1031174 non-null  object
 8   year_of_publication  1031175 non-null  float64
 9   publisher            1031175 non-null  object
 10  img_s                1031175 non-null  object
 11  img_m                1031175 non-null  object
 12  img_l                1031175 non-null  object
 13  Summary              1031175 non-null  object
 14  Language             1031175 non-null  object
 15  Category             1031175 non-null  object
 16  city                 1017072 non-null  object
 17  state                1008377 non-null  object
 18  country              995801 non-null   object
dtypes: float64(2), int64(3), object(14)
memory usage: 149.5+ MB

In [27]:
df = df.drop(columns=['img_s', 'img_m', 'img_l'])

In [28]:
df['Category'] = df['Category'].str[2:-2]

In [29]:
df['year_of_publication'] = df['year_of_publication'].astype(int)

In [30]:
df.describe()

,Unnamed: 0,user_id,age,rating,year_of_publication
count,1.031175e+06,1.031175e+06,1.031175e+06,1.031175e+06,1.031175e+06
mean,5.155870e+05,1.405944e+05,3.642902e+01,2.839022e+00,1.995283e+03
std,2.976747e+05,8.052444e+04,1.035354e+01,3.854149e+00,7.309340e+00
min,0.000000e+00,2.000000e+00,5.000000e+00,0.000000e+00,1.376000e+03
25%,2.577935e+05,7.041500e+04,3.100000e+01,0.000000e+00,1.992000e+03
50%,5.155870e+05,1.412100e+05,3.474390e+01,0.000000e+00,1.997000e+03
75%,7.733805e+05,2.114260e+05,4.100000e+01,7.000000e+00,2.001000e+03
max,1.031174e+06,2.788540e+05,9.900000e+01,1.000000e+01,2.008000e+03

In [31]:
len(df)

1031175

In [32]:
df = df.dropna()

In [33]:
len(df)

982278

In [34]:
df = df.drop(columns=['isbn'])

In [35]:
df = df.drop(columns=['Unnamed: 0'])

In [39]:
df = df.drop(columns=['country'])

In [36]:
df['age'] = df['age'].astype(int)

In [37]:
def categorize_age(age):
    if age <= 12:
        return 'children'
    elif 13 <= age <= 19:
        return 'teenage'
    elif 20 <= age <= 59:
        return 'adult'
    else:
        return 'senior_citizens'

# Apply the function to create a new column
df['age_category'] = df['age'].apply(categorize_age)

In [41]:
df['country'] = df['location'].apply(lambda x: x.split(',')[-1].strip())

In [43]:
df = df.drop(columns=['location'])

In [47]:
df.head(10)

,user_id,age,rating,book_title,book_author,year_of_publication,publisher,Summary,Language,Category,city,state,age_category,country
0,2,18,0,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,Provides an introduction to classical myths pl...,en,Social Science,stockton,california,teenage,usa
1,8,34,5,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,"In a small town in Canada, Clara Callan reluct...",en,Actresses,timmins,ontario,adult,canada
2,11400,49,0,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,"In a small town in Canada, Clara Callan reluct...",en,Actresses,ottawa,ontario,adult,canada
4,41385,34,0,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,"In a small town in Canada, Clara Callan reluct...",en,Actresses,sudbury,ontario,adult,canada
5,67544,30,8,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,"In a small town in Canada, Clara Callan reluct...",en,Actresses,toronto,ontario,adult,canada
6,85526,36,0,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,"In a small town in Canada, Clara Callan reluct...",en,Actresses,victoria,british columbia,adult,canada
7,96054,29,0,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,"In a small town in Canada, Clara Callan reluct...",en,Actresses,ottawa,ontario,adult,canada
9,123629,34,9,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,"In a small town in Canada, Clara Callan reluct...",en,Actresses,kingston,ontario,adult,canada
10,177458,29,0,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,"In a small town in Canada, Clara Callan reluct...",en,Actresses,ottawa,ontario,adult,canada
11,200273,34,8,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,"In a small town in Canada, Clara Callan reluct...",en,Actresses,comber,ontario,adult,canada

In [45]:
df.to_csv("E:/CC week 4 project/book_review_cleaned.csv", index=False)

In [51]:
# Filter popular books (rated by at least 50 users)
popular_books = df['book_title'].value_counts()[df['book_title'].value_counts() > 50].index
df_filtered = df[df['book_title'].isin(popular_books)]

# Filter active users (who rated at least 20 books)
active_users = df_filtered['user_id'].value_counts()[df_filtered['user_id'].value_counts() > 20].index
df_filtered = df_filtered[df_filtered['user_id'].isin(active_users)]

In [52]:
user_book_matrix = df_filtered.pivot_table(index='user_id', columns='book_title', values='rating')
user_book_matrix.fillna(0, inplace=True)

In [53]:
from sklearn.neighbors import NearestNeighbors
import numpy as np

# Fit the model
model = NearestNeighbors(metric='cosine', algorithm='brute')
model.fit(user_book_matrix.values)

# Recommend books for a user
def recommend_books(user_id, n_recommendations=5):
    user_idx = list(user_book_matrix.index).index(user_id)
    distances, indices = model.kneighbors([user_book_matrix.iloc[user_idx].values], n_neighbors=n_recommendations + 1)
    recommended_users = indices.flatten()[1:]

    recommended_books = user_book_matrix.iloc[recommended_users].mean(axis=0)
    top_books = recommended_books.sort_values(ascending=False).head(n_recommendations)
    return top_books

# Example usage:
recommend_books(user_id=96054)

book_title
Where the Heart Is (Oprah's Book Club (Paperback))    7.8
The Lovely Bones: A Novel                             7.4
Bridget Jones's Diary                                 3.6
Gap Creek: The Story of a Marriage                    2.0
Message in a Bottle                                   2.0
dtype: float64

In [62]:
# Export for Power BI
df_export = df[['user_id', 'age_category', 'book_title', 'rating', 'Category', 'country']]
df_export.to_csv("E:/CC week 4 project/book_recommendation_data.csv", index=False)